---
import * as interfaces from '../../lib/interfaces.ts'
import { snakeToKebab } from '../../lib/style-helpers.ts'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'
import '../../styles/notion-color.css'

export interface Props {
  block: interfaces.Block
  level: number
  headings: interfaces.Block[]
  headingSlugs?: Record<string, string>
}

const { block, level, headings, headingSlugs } = Astro.props

const listTypes = ['i', '1', 'a'] as const
const listItems = (
  ('ListItems' in block ? block.ListItems : []) as interfaces.Block[]
).filter(
  (item: interfaces.Block): item is interfaces.Block & {
    NumberedListItem: interfaces.NumberedListItem
  } => item.Type === 'numbered_list_item' && !!item.NumberedListItem
)
---

<ol type={listTypes[level % 3]}>
  {
    listItems.map((b) => (
      <li class={snakeToKebab(b.NumberedListItem.Color)}>
        {b.NumberedListItem.RichTexts.map((richText: interfaces.RichText) => (
          <RichText richText={richText} />
        ))}
        {b.HasChildren && b.NumberedListItem.Children && (
          <NotionBlocks
            blocks={b.NumberedListItem.Children}
            level={level + 1}
            headings={headings}
            headingSlugs={headingSlugs}
            isRoot={false}
          />
        )}
      </li>
    ))
  }
</ol>

<style>
  ol {
    font-size: 1rem;
  }
</style>
