---
import * as interfaces from '../../lib/interfaces.ts'
import { snakeToKebab } from '../../lib/style-helpers.ts'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'
import '../../styles/notion-color.css'

export interface Props {
  block: interfaces.Block
  headings: interfaces.Block[]
  headingSlugs?: Record<string, string>
}

const { block, headings, headingSlugs } = Astro.props
const listItems = (
  ('ListItems' in block ? block.ListItems : []) as interfaces.Block[]
).filter(
  (item: interfaces.Block): item is interfaces.Block & { ToDo: interfaces.ToDo } =>
    item.Type === 'to_do' && !!item.ToDo
)
---

<div class="to-do">
  {
    listItems.map((b) => (
        <div class={snakeToKebab(b.ToDo.Color)}>
          <label style="display: flex; align-items: center; gap: 0.5em;">
            <input type="checkbox" checked={b.ToDo.Checked} disabled />
            {b.ToDo.RichTexts.map((richText: interfaces.RichText) => {
              if (b.ToDo.Checked) {
                return (
                  <s>
                    <RichText richText={richText} />
                  </s>
                )
              }
              return <RichText richText={richText} />
            })}
          </label>
          {b.HasChildren && b.ToDo.Children && (
            <NotionBlocks
              blocks={b.ToDo.Children}
              headings={headings}
              headingSlugs={headingSlugs}
              isRoot={false}
              level={1}
            />
          )}
        </div>
      ))
  }
</div>

<style>
  .to-do {
    color: var(--text-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    padding-inline-start: 1rem;
  }
  .to-do > div {
  }
  .to-do > div > input {
  }
  .to-do > div > s {
    color: var(--text-tertiary);
  }
</style>
