---
import * as interfaces from '../../lib/interfaces.ts'
import { snakeToKebab } from '../../lib/style-helpers.ts'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'
import '../../styles/notion-color.css'

export interface Props {
  block: interfaces.Block
  headings: interfaces.Block[]
  headingSlugs?: Record<string, string>
}

const { block, headings, headingSlugs } = Astro.props
const toggle = block.Toggle
---

{
  toggle && (
    <details class={`toggle ${snakeToKebab(toggle.Color)}`}>
      <summary>
        {
          toggle.RichTexts.map((richText: interfaces.RichText) => (
            <RichText richText={richText} />
          ))
        }
      </summary>
      <div>
        <NotionBlocks
          blocks={toggle.Children}
          headings={headings}
          headingSlugs={headingSlugs}
          isRoot={false}
          level={1}
        />
      </div>
    </details>
  )
}

<style>
  .toggle {
    padding: 0.4rem;
  }

  .toggle > summary {
    cursor: pointer;
  }

  .toggle > summary > a {
    display: inline;
  }

  .toggle > div {
    margin-left: 1em;
  }
</style>
